build
install
log
.cache
mx.scratch
.settings
.cache
.build.sh
docs
tools
*.jdebug
*.jdebug.user
micro_ros_stm32cubemx_utils
*.egg-info
.idea
outputs
logs
wandb
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class
